<h1>Listing codebooks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Cb name</th>
      <th>Sequence</th>
      <th>Deleted</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @codebooks.each do |codebook| %>
      <tr>
        <td><%= codebook.name %></td>
        <td><%= codebook.value %></td>
        <td><%= codebook.cb_name %></td>
        <td><%= codebook.sequence %></td>
        <td><%= codebook.deleted %></td>
        <td><%= link_to 'Show', admin_codebook_path(codebook.id) %></td>
        <td><%= link_to 'Edit', edit_admin_codebook_path(codebook.id) %></td>
        <td><%= link_to 'Destroy', admin_codebook_path(codebook.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Codebook', new_admin_codebook_path %>
