<% title "Codebooks" %>

<div id="add-codebook" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Codebook</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <%= form_tag admin_codebooks_path, id: 'form-codebook', remote: true do %>
        <div class="span4">
          <%= label_tag "codebook[value]", "Value" %>
          <%= text_field_tag "codebook[value]", '', class: 'span4', autofocus: true %>
        </div>
        <div class="span5">
          <%= label_tag "codebook[name]", "Name" %>
          <%= text_field_tag "codebook[name]", '', class: 'span4' %>
        </div>
        <div class="span5">
          <%= label_tag "codebook[cb_name]", "Codebook name" %>
          <%= text_field_tag "codebook[cb_name]", '', class: 'span4' %>
        </div>
        <div class="span1">
          <%= label_tag "codebook[sequence]", "Sequence" %>
          <%= text_field_tag "codebook[sequence]", '100', class: 'span1' %>
        </div>
        <div class="span4">
          <%= label_tag "codebook[deleted]", "Deleted" %>
          <%= text_field_tag "codebook[deleted]", '0', class: 'span1' %>
        </div>
          <%= hidden_field_tag 'codebook[id]', ''%>
        <div class="span2">
          <br />
          <%= button_tag "Submit", class: 'btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="left_panel">
  <div class="navbar">
    <div class="navbar-inner">
      <%= form_tag admin_codebooks_path, class: 'navbar-form pull-left', method: :get, id: 'search-form' do %>
        <%= text_field_tag :query, params[:query], hint: 'Search', placeholder: 'Search', autofocus: true %>
        <%= button_tag 'search', class: 'btn' %>
        <%= select_tag :cb_name, options_from_collection_for_select(all_codebooks, "cb_name", "cb_name", params[:cb_name]), include_blank: true %>
      <% end %>

      <div class="clear_button">
        <%= link_to 'clear', admin_codebooks_path, class: 'btn' %>
      </div>

      <div class="new_button">
        <%= link_to 'new', '#', data: { toggle: "modal", target: '#add-codebook'}, id: 'add-codebook-link', class: 'btn' %>
      </div>

    </div>
  </div>
</div>

<div class="right_panel">
  <div class="apple_pagination">
    <%= will_paginate @codebooks, :container => false %>
  </div>

  <table class="table table-hover" id="codebooks-table">
    <thead>
      <th></th>
      <th>value</th>
      <th>name</th>
      <th>codebook</th>
      <th>sequence</th>
      <th>deleted</th>
      <th>created</th>
      <th>updated</th>
    </thead>
    <tbody>
      <% @codebooks.each do |codebook| %>
        <%= render 'codebook', codebook: codebook, id: codebook.id %>
      <% end %>
    </tbody>
  </table>


  <div class="apple_pagination">
    <%= will_paginate @codebooks, :container => false %>
  </div>
</div>